

@sliceHeader(title: String) = {
    <h3>@title</h3>
}

@main("User Stories"){

<div class="container-fluid">
    <span class="label label-important">Note: There is an API limit per IP, so you don't see anything if that limit was exceeded.</span>
    <div class="row">
        <div class="span4" id="scrum-open">@sliceHeader("Open")</div>
        <div class="span4" id="scrum-inprogress">@sliceHeader("In progress")</div>
        <div class="span4" id="scrum-done">@sliceHeader("done")</div>
    </div>
</div>

}