@(content: String)

@main("text feed"){
<script type="text/javascript">
    var useWebSockets = false
    //websocket version, does not work with every server and client
    var wsUrl = ""
    if(useWebSockets)
        wsUrl = "@controllers.routes.Application.updateFeed().webSocketURL(request)"

    var cometMessage = function(event) {
        console.log('Received event: ' + event)
        $("#synced-text-file").html(event)
    }
</script>
<pre id="synced-text-file">
@content
</pre>
<p id="ws-status"></p>
}

<iframe src="@controllers.routes.Application.cometUpdateFeed()"></iframe>